h1 {
    background-color: var(--main-accent-color);
    border-radius: .8rem;
    color: white;
    width: fit-content;
    font-weight: 400;
    font-size: 3rem;
    padding: .8rem 1.5rem;
    line-height: 1;
    margin: auto;
}