/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body {
    font-family: 'Montserrat', sans-serif;
    padding: 2rem;
    margin: auto;
}

:root {
    --main-accent-color: #04838f;
    --main-text-color: #000000;
    --secondary-text-color: #8c8c8c;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}