<div class="pie-chart">
  <ngx-charts-pie-chart
    *ngIf="graphData$ | async as graphData"
    [results]="graphData"
    [labels]="true"
    [trimLabels]="false"
    (select)="onSelect($event)"
  >
    <ng-template #tooltipTemplate let-model="model">
      <div class="pie-chart__tooltip">
        <p>{{ model.name }}</p>
        <div class="pie-chart__tooltip--count">
          <img
            src="../../../assets/medal.svg"
            alt="Number of medals"
            srcset=""
          />
          <p>
            {{ model.value }}
          </p>
        </div>
      </div>
    </ng-template>
  </ngx-charts-pie-chart>
</div>
