.pie-chart {
  width: 100%;
  height: 60vh;
  margin-top: 2rem;

  &__tooltip {
    margin: 0.25rem 1rem;
    font-size: 1.25rem;

    &--count {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 0.5rem;
      margin: 0.5rem auto;
      text-align: left;

      img {
        width: 25px;
        height: 25px;
      }
    }
  }
}
